---
import img1 from "../assets/horse16.jpg";
import img2 from "../assets/horse.jpg";
import img3 from "../assets/P1010419.jpg";

import img4 from "../assets/fallen_oak_auction_Sigil.png";
import img5 from "../assets/FallenOaksOC.png";
import img6 from "../assets/fallenoak.png";
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Fallen Oaks Equine Rescue | About">
  <div
    class="bg-[#fefce8] min-h-[calc(100vh-10rem)] px-4 lg:px-0 flex flex-col items-center"
  >
    <div
    style="opacity: 0; animation: fadein 0.5s ease 0.2s forwards;"
    class="flex flex-col justify-center items-center w-full lg:w-2/5 pt-24 lg:pt-32 pb-8 lg:pb-16 gap-y-12 sm:gap-y-24"
    >
      <div
        class="text-5xl lg:text-7xl uppercase font-semibold tracking-wider"
      >
        About us
      </div>
      <div
        class="relative flex items-center justify-center sm:max-h-40 w-full lg:w-1/3"
      >
        <Image
          src={img1}
          width="400"
          alt=""
          style="filter: drop-shadow(0 5px 5px #000);"
          class="max-h-64 w-auto sm:max-h-auto sm:h-64 lg:max-w-lg mx-auto z-0 rounded-lg -rotate-3 bg-neutral-400 border-white border-8"
        />
        <Image
          src={img2}
          width="400"
          alt=""
          style="filter: drop-shadow(0 5px 5px #000);"
          class="hidden sm:block h-64 max-w-lg mx-auto z-0 rounded-lg rotate-3 bg-neutral-400 border-white border-8"
        />
        <Image
          src={img3}
          width="400"
          alt=""
          style="filter: drop-shadow(0 5px 5px #000);"
          class="hidden sm:block h-64 max-w-lg mx-auto z-0 rounded-lg -rotate-3 bg-neutral-400 border-white border-8"
        />
      </div>
      <div
        class="text-base lg:text-xl" >
        <p>
          Fallen Oak Equine Rescue and Rehabilitation, Inc., is located on seven
          acres in beautiful Belleview, Florida. We currently operate out of a five-stall barn, a pasture for grazing, and a round pen for training and
          evaluating rescued horses. We rely on our devoted foster homes to help
          us transition horses from our facility to their forever homes, and to
          help us when there's an influx of horses-in-need. We couldn't do what we do without our team of foster parents!
        </p>
      </div>
    </div>
    <hr
      class="border-neutral-400 border-1 w-full lg:w-2/3 pb-8 lg:pb-16"
      style="opacity: 0; animation: fadein 0.5s ease 0.6s forwards;"
    />
    <div
      style="opacity: 0; animation: fadein 0.5s ease 0.8s forwards;"
      class="w-full lg:w-2/3 flex flex-col lg:flex-row items-start justify-center pb-16 gap-y-8 lg:gap-y-16"
    >
      <div
        class="lg:border-r-2 lg:border-neutral-400 gap-y-8 w-full lg:w-1/3 lg:pr-2 flex flex-col items-center justify-between"
        id="mission"
      >
        <div class="text-3xl lg:text-4xl text-center uppercase font-semibold tracking-wide">
          Our mission
        </div>
        <Image
          src={img4}
          alt=""
          width="400"
          class="h-48 w-auto rounded-lg -rotate-3 bg-white border-white border-8"
          style="filter: drop-shadow(0 5px 5px #000)"
        />
        <div class="text-base lg:text-sm">
          <p>
            Our goal is to rescue, rehabilitate and rehome abused and neglected
            horses. We provide sanctuary to horses that are unadoptable or
            require special care.
          </p>
        </div>
      </div>
      <div
        class="lg:border-r-2 lg:border-neutral-400 gap-y-8 w-full lg:w-1/3 lg:ml-4 lg:pr-2 flex flex-col items-center justify-between"
        id="history"
      >
        <div class="text-3xl lg:text-4xl text-center uppercase font-semibold tracking-wide">
          Our history
        </div>
        <Image
          src={img5}
          alt=""
          width="400"
          class="h-48 w-auto rounded-lg rotate-3 bg-blue-200 border-white border-8"
          style="filter: drop-shadow(0 5px 5px #000)"
        />
        <div class="text-base lg:text-sm">
          <p>
            Fallen Oak was established in December of 2012 in Central Florida. As of February 1st, 2020, <span class="font-semibold">Kim
            Sweeney</span> is the third president of Fallen Oak &ndash; since May of 2024, she
            has cared for and rehabilitated over 160 horses!
          </p>
        </div>
      </div>
      <div
        class="gap-y-8 w-full lg:w-1/3 lg:ml-4 lg:pr-2 flex flex-col items-center justify-between"
        id="mascot"
      >
        <div class="text-3xl lg:text-4xl text-center uppercase font-semibold tracking-wide">
          Our mascot
        </div>
        <Image
          src={img6}
          alt=""
          width="400"
          class="h-48 w-auto rounded-lg -rotate-3 bg-blue-200 border-white border-8"
          style="filter: drop-shadow(0 5px 5px #000)"
        />
        <div class="text-base lg:text-sm">
          <p>
            Our mascot, <span class="font-semibold">Fallen Oakley</span>, was
            designed around Early Bird, our first rescue horse! Fallen Oakley's blue spots were inspired by Early Bird's. Her
            flank mark is an oak tree sheltering a pair of horses, representing the
            care and hospitality she provides to the horses under her care.
          </p>
        </div>
      </div>
    </div>
  </div>
</Layout>
