---
import Layout from "../../layouts/Layout.astro";

import { Image } from "astro:assets";
import news from "../../data/news.js";
import img3 from "../../assets/news/MareDay.jpg";
import { Icon } from "astro-icon/components";
import { ViewTransitions } from "astro:transitions";

const article = news[2];
const { author, title, content, img, date, id } = article;
---

<ViewTransitions />
<Layout title=`Fallen Oak Equine Rescue | News | ${title}`>
  <div
    class="bg-[#fefce8] min-h-[calc(100vh-10rem)] px-4 lg:px-0 flex flex-col items-center"
  >
    <a
      class="mt-24 duration-300 hover:bg-blue-200 bg-blue-50 border-2 border-blue-200 hover:border-blue-400 rounded font-semibold text-base px-3 py-1 flex items-center gap-x-2"
      href="/news"
      ><Icon name="mdi:arrow-back" class="text-2xl text-blue-600" />Back to News</a
    >
    <div class="w-full lg:w-1/2 mx-auto py-8">
      <article class="px-6 mx-auto flex flex-col lg:flex-col gap-x-12 gap-y-8">
        <div class="flex justify-center w-full lg:w-full">
          <Image 
          transition:name={id} src={img3} alt="News" width="400" class="object-cover w-auto h-64 border-2 rounded border-black" />
        </div>
        <div class="flex flex-col gap-y-8 w-full lg:w-full">
          <div class="flex flex-col mx-auto gap-y-2 w-full">
            <h1 class="text-4xl lg:text-5xl font-semibold leading-none whitespace-wrap">{title}</h1>
            <p class="text-xs lg:text-sm">
              by
              <span class="text-blue-400">
                <span>{author}</span>
              </span>on
              <time datetime="2021-02-12 15:34:18-0200">{date}</time>
            </p>
          </div>

          <div class="flex flex-col gap-y-4 lg:text-base text-sm rounded border border-dashed border-black p-4 bg-amber-100">
            <!-- <p>{content}</p> -->
            <p>We appreciate all the love and support that we've gotten from the community. We’d like to say thank you! So, we’re pleased to announce that Mare Day will be happening again this year. It’s our way of giving back!</p>

            <p>The event be held at the rescue on September 9. It is a day full of fun activities like horseback rides, grooming horses, spending time with yearlings, farm chores, and more!</p>
            
            <p>You can find the registration form below. Tickets are only $20!</p>
            
            <p><a href="https://www.zeffy.com/ticketing/mare-day--2025" style="color:blue;">https://www.zeffy.com/ticketing/mare-day--2025</a></p>
          </div>
        </div>
      </article>
    </div>
  </div>
</Layout>