---
import Layout from "../../layouts/Layout.astro";

import { Image } from "astro:assets";
import news from "../../data/news.js";
import img1 from "../../assets/news/Semi_atnewhome_1.jpg";
import { Icon } from "astro-icon/components";
import { ViewTransitions } from "astro:transitions";

const article = news[0];
const { author, title, content, img, date, id } = article;
---

<ViewTransitions />
<Layout title="Fallen Oaks Equine Rescue | News">
  <div
    class="bg-[#fefce8] min-h-[calc(100vh-10rem)] px-4 lg:px-0 flex flex-col items-center"
  >
    <a
      class="mt-24 duration-300 hover:bg-blue-200 bg-blue-50 border-2 border-blue-200 hover:border-blue-400 rounded font-semibold text-base px-3 py-1 flex items-center gap-x-2"
      href="/news"
      ><Icon name="mdi:arrow-back" class="text-2xl text-blue-600" />Back to News</a
    >
    <div class="w-full lg:w-1/2 mx-auto py-8">
      <article class="px-6 mx-auto flex flex-col lg:flex-col gap-x-12 gap-y-8">
        <div class="flex justify-center w-full lg:w-full">
          <Image 
          transition:name={id} src={img1} alt="News" width="400" class="object-cover w-auto h-64 border-2 rounded border-black" />
        </div>
        <div class="flex flex-col gap-y-8 w-full lg:w-full">
          <div class="flex flex-col mx-auto gap-y-2 w-full">
            <h1 class="text-4xl lg:text-5xl font-semibold leading-none whitespace-nowrap">{title}</h1>
            <p class="text-xs lg:text-sm">
              by
              <span class="text-blue-400">
                <span>{author}</span>
              </span>on
              <time datetime="2021-02-12 15:34:18-0200">{date}</time>
            </p>
          </div>

          <div class="flex flex-col gap-y-4 lg:text-base text-sm rounded border border-dashed border-black p-4 bg-amber-100">
            <!-- <p>{content}</p> -->
            <p>Semi has been adopted!</p>
            <p>
              Semi came to us last summer and was first adopted out in September
              but, sadly, he was having some riding issues and didn't work out
              with his adopter. At some point in Semi's life he had some trauma
              that causes him to become terrified and shake while being ridden
              in certain situations. As a result, he came back to the rescue on
              March 7th. Despite his issues with riding, he is a lovely horse
              with excellent ground manners. So we decided that it was time for
              Semi to just be a horse and hang out with friends as a companion
              horse. Months later, the wonderful people at Rainbows Edge Equine
              Transition Center reached out to us about a lady who was looking
              for a companion horse. Kim swiftly reached out and invited her and
              her husband to come visit the rescue and as soon as the couple met
              Semi they were enthralled with him! Semi now lives in Gainesville
              Florida on a beautiful farm with his new best friend, Phoenix.
            </p>
            <p>
              We are so thankful for Gloria and her husband for providing Semi
              with a loving home!
            </p>
          </div>
        </div>
      </article>
    </div>
  </div>
</Layout>
