---
import Button from "../Button.astro";
import { Image } from "astro:assets";
import img1 from "../../assets/horse2.jpg";
import img2 from "../../assets/P1010455.jpg";
import img3 from "../../assets/OakleyandLyric2.png";
import img4 from "../../assets/Oakleycleaningpoopy.png";

const img1Src = img1.src;
const img2Src = img2.src;
const img3Src = img3.src;
const img4Src = img4.src;
import { Icon } from "astro-icon/components";
---

<section
  class="w-full mx-auto"
  style="background-image: linear-gradient(to top, #fefce8 0%, #fefce8 100%);"
>
  <div class="hidden lg:block w-full lg:w-11/12 mx-auto">
    <section class="black flex lg:h-screen items-center justify-around">
      <div class="relative overflow-hidden w-1/2 h-screen 3xl:h-[80vh] 4xl:h-[60vh]">
        <div
          id="adoptables"
          class="pr-16 panel-text translate-y-full absolute opacity-0 z-10 w-full"
        >
          <div
            class="text-lg lg:text-2xl pb-4 lg:pb-4 uppercase tracking-wide font-normal text-center lg:text-left"
          >
            Next chapters
          </div>
          <div
            class="whitespace-nowrap text-5xl 2xl:text-6xl 3xl:text-7xl font-semibold text-center lg:text-left uppercase tracking-wide mb-8 lg:mb-8"
          >
            Adoptables
          </div>
          <p class="leading-snug 3xl:leading-normal text-base 2xl:text-xl 3xl:text-2xl 4xl:text-3xl text-left lg:mx-0 mx-4">
            Discover the joy of giving a loving home to one of our horses. In
            this section, you will find profiles of all our horses waiting for
            adoption. Each profile provides detailed information about the
            horse's personality, needs, and history to help you find the perfect
            match.
          </p>

          <div class="mt-8">
            <Button href="/adopt" text="Learn more" />
          </div>
          <div
            id="scroll-down-parent-adoptables"
            class="mt-8 hidden opacity-100 lg:flex justify-start"
          >
            <Icon
              id="scroll-down-indicator-adoptables"
              class="w-12 h-12 p-2 text-black cursor-pointer hover:text-yellow-50 hover:bg-[#937666] duration-300 rounded"
              name="ph:caret-down-bold"
              onclick="window.lenis.scrollTo('#scroll-down-parent-sponsorships')"
            />
          </div>
        </div>
        <div
          id="sponsorships"
          class="pr-16 panel-text translate-y-full absolute opacity-0 z-10 w-full"
        >
          <div
            class="text-lg lg:text-2xl pb-4 lg:pb-4 uppercase tracking-wide font-normal text-center lg:text-left"
          >
            Can't Adopt?
          </div>
          <div
            class="whitespace-nowrap text-5xl 2xl:text-6xl 3xl:text-7xl font-semibold text-center lg:text-left uppercase tracking-wide mb-8 lg:mb-8"
          >
            Sponsorables
          </div>
          <p class="leading-snug 3xl:leading-normal text-base 2xl:text-xl 3xl:text-2xl 4xl:text-3xl text-left lg:mx-0 mx-4">
            Try sponsoring! Call one of our permanent residents your own and
            learn how special the bond between you and your horse can be! Horse
            sponsors donate to care for their horse's needs, receive special
            updates on their horse, and spend time with their horse.
          </p>

          <div class="mt-8">
            <Button href="/sponsor" text="Learn more" />
          </div>
          <div
            id="scroll-down-parent-sponsorships"
            class="mt-8 hidden opacity-100 lg:flex justify-start"
          >
            <Icon
              id="scroll-down-indicator-sponsorships"
              class="w-12 h-12 p-2 text-black cursor-pointer hover:text-yellow-50 hover:bg-[#937666] duration-300 rounded"
              name="ph:caret-down-bold"
              onclick="window.lenis.scrollTo('#scroll-down-parent-permanent')"
            />
          </div>
        </div>
        <div
          id="permanent-residents"
          class="pr-16 panel-text translate-y-full absolute opacity-0 z-10 w-full"
        >
          <div
            class="text-lg lg:text-2xl pb-4 lg:pb-4 uppercase tracking-wide font-normal text-center lg:text-left"
          >
            Want to make a broader impact?
          </div>
          <div
            class="whitespace-nowrap text-5xl 2xl:text-6xl 3xl:text-7xl font-semibold text-center lg:text-left uppercase tracking-wide mb-8 lg:mb-8"
          >
            Monthly Donors
          </div>
          <p class="leading-snug 3xl:leading-normal text-base 2xl:text-xl 3xl:text-2xl 4xl:text-3xl text-left lg:mx-0 mx-4">
            Consider becoming a monthly donor and receive special rewards as a
            result. These perks are available to all who make a regular
            contribution to the rescue, with different tiers for all monthly
            donors ranging from $1 all the way up to $1000 per month. Even the
            smallest amount you can give helps tremendously!
          </p>

          <div class="mt-8">
            <Button href="/sponsor" text="Learn more" />
          </div>
          <div
            id="scroll-down-parent-permanent"
            class="mt-8 hidden opacity-100 lg:flex justify-start"
          >
            <Icon
              id="scroll-down-indicator-permanent"
              class="w-12 h-12 p-2 text-black cursor-pointer hover:text-yellow-50 hover:bg-[#937666] duration-300 rounded"
              name="ph:caret-down-bold"
              onclick="window.lenis.scrollTo('#scroll-down-parent-sponsored')"
            />
          </div>
        </div>
        <div
          id="sponsored"
          class="pr-16 panel-text translate-y-full absolute opacity-0 z-10 w-full"
        >
          <div
            class="text-lg lg:text-2xl pb-4 lg:pb-4 uppercase tracking-wide font-normal text-center lg:text-left"
          >
            Can't donate?
          </div>
          <div
            class="whitespace-nowrap text-5xl 2xl:text-6xl 3xl:text-7xl font-semibold text-center lg:text-left uppercase tracking-wide mb-8 lg:mb-8"
          >
            Volunteers
          </div>
          <p class="leading-snug 3xl:leading-normal text-base 2xl:text-xl 3xl:text-2xl 4xl:text-3xl text-left lg:mx-0 mx-4">
            Volunteering is a massive way to help out horses and learn how kind
            and loving these creatures are. If you're interested in
            volunteering, reach out to Kim by emailing <a
              href="mailto:kim@fallenoak.org"
              target="_blank"
              class="underline text-blue-400 underline-offset-[6px] hover:text-blue-500"
              >kim@fallenoak.org</a
            > or calling at (513) 582-5783.
          </p>

          <div class="mt-8">
            <Button href="/sponsor" text="Learn more" />
          </div>
          <div
            id="scroll-down-parent-sponsored"
            class="mt-8 hidden opacity-100 lg:flex justify-start"
          >
            <Icon
              id="scroll-down-indicator-sponsored"
              class="w-12 h-12 p-2 text-black cursor-pointer hover:text-yellow-50 hover:bg-[#937666] duration-300 rounded"
              name="ph:caret-down-bold"
              onclick="window.lenis.scrollTo('#difference')"
            />
          </div>
        </div>
      </div>

      <div class="relative overflow-hidden w-1/2 h-[80vh]">
        <div class="panel blue h-screen bg-gray-400"></div>
        <div class="panel red bg-gray-400"></div>
        <div class="panel orange bg-gray-400"></div>
        <div class="panel purple bg-gray-400"></div>
      </div>
    </section>
  </div>
  <div class="block lg:hidden w-full">
    <div class="h-full pb-24">
      <div
        class="text-lg lg:text-2xl pb-2 lg:pb-4 uppercase tracking-wide font-normal text-center lg:text-left"
      >
        Next chapters
      </div>
      <div
        class="text-4xl lg:text-7xl font-semibold text-center lg:text-left uppercase tracking-wide mb-4 lg:mb-8"
      >
        Adoptables
      </div>
      <p class="text-base lg:text-2xl text-left lg:mx-0 mx-4">
        Discover the joy of giving a loving home to one of our horses. In this
        section, you will find profiles of all our horses waiting for adoption.
        Each profile provides detailed information about the horse's
        personality, needs, and history to help you find the perfect match.
      </p>

      <div class="px-8">
        <Image
          src={img1}
          alt=""
          style="filter: drop-shadow(0 5px 5px #000)"
          class="lg:ml-24 mt-6 z-0 max-h-80 w-auto mx-auto rounded-lg -rotate-3 bg-neutral-400 border-white border-8"
        />
      </div>

      <div class="text-center mt-12">
        <Button href="/adopt" text="Learn more" />
      </div>
    </div>
    <div class="h-full pb-24">
      <div
        class="text-lg lg:text-2xl pb-2 lg:pb-4 uppercase tracking-wide font-normal text-center lg:text-left"
      >
        Can't Adopt?
      </div>
      <div
        class="text-4xl lg:text-7xl font-semibold text-center lg:text-left uppercase tracking-wide mb-4 lg:mb-8"
      >
        Sponsorables
      </div>
      <p class="text-base lg:text-2xl text-left lg:mx-0 mx-4">
        Try sponsoring! Call one of our permanent residents your own and learn
        how special the bond between you and your horse can be! Horse sponsors
        donate to care for their horse's needs, receive special updates on their
        horse, and spend time with their horse.
      </p>

      <div class="px-8">
        <Image
          src={img2}
          alt=""
          style="filter: drop-shadow(0 5px 5px #000)"
          class="lg:ml-24 mt-6 z-0 max-h-80 w-auto mx-auto rounded-lg -rotate-3 bg-neutral-400 border-white border-8"
        />
      </div>

      <div class="text-center mt-12">
        <Button href="/sponsor" text="Learn more" />
      </div>
    </div>
    <div class="h-full pb-24">
      <div
        class="text-lg lg:text-2xl pb-2 lg:pb-4 uppercase tracking-wide font-normal text-center lg:text-left"
      >
        Want to make a broader impact?
      </div>
      <div
        class="text-4xl lg:text-7xl font-semibold text-center lg:text-left uppercase tracking-wide mb-4 lg:mb-8"
      >
        Monthly Donors
      </div>
      <p class="text-base lg:text-2xl text-left lg:mx-0 mx-4">
        Consider becoming a monthly donor and receive special rewards as a
        result. These perks are available to all who make a regular contribution
        to the rescue, with different tiers for all monthly donors ranging from
        $1 all the way up to $1000 per month. Even the smallest amount you can
        give helps tremendously!
      </p>

      <div class="px-8">
        <Image
          src={img3}
          alt=""
          style="filter: drop-shadow(0 5px 5px #000)"
          class="lg:ml-24 mt-6 z-0 max-h-80 w-auto mx-auto rounded-lg -rotate-3 bg-neutral-400 border-white border-8"
        />
      </div>

      <div class="text-center mt-12">
        <Button href="/donor" text="Learn more" />
      </div>
    </div>
    <div class="h-full pb-24">
      <div
        class="text-lg lg:text-2xl pb-2 lg:pb-4 uppercase tracking-wide font-normal text-center lg:text-left"
      >
        Can't donate?
      </div>
      <div
        class="text-4xl lg:text-7xl font-semibold text-center lg:text-left uppercase tracking-wide mb-4 lg:mb-8"
      >
        Volunteers
      </div>
      <p class="text-base lg:text-2xl text-left lg:mx-0 mx-4">
        Volunteering is a massive way to help out horses and learn how kind and
        loving these creatures are. If you're interested in volunteering, reach
        out to Kim by emailing <a
          href="mailto:kim@fallenoak.org"
          target="_blank"
          class="underline text-blue-400 underline-offset-4 hover:text-blue-500"
          >kim@fallenoak.org</a
        > or calling at (513) 582-5783.
      </p>

      <div class="px-8">
        <Image
          src={img4}
          alt=""
          style="filter: drop-shadow(0 5px 5px #000)"
          class="lg:ml-24 mt-6 z-0 max-h-80 w-auto mx-auto rounded-lg -rotate-3 bg-neutral-400 border-white border-8"
        />
      </div>

      <div class="text-center mt-12">
        <Button href="/sponsor" text="Learn more" />
      </div>
    </div>
  </div>

  <!-- <section class="h-screen bg-[#00026d]"></section> -->
</section>

<style
  define:vars={{
    img1Src: `url(${img1Src})`,
    img2Src: `url(${img2Src})`,
    img3Src: `url(${img3Src})`,
    img4Src: `url(${img4Src})`,
  }}
>
  .panel {
    position: absolute;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-image: var(--img1Src);
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .panel._2 {
    z-index: 1;
  }

  .panel.red {
    z-index: auto;
    background-image: var(--img2Src);
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .panel.orange {
    z-index: auto;
    background-image: var(--img3Src);
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .panel.purple {
    z-index: auto;
    background-image: var(--img4Src);
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
  }
</style>

<script>
  import { animate, inView, stagger } from "motion";
  import { gsap } from "gsap";
  import { ScrollTrigger } from "gsap/ScrollTrigger";
  // console.log(window.mm);
  window.mm.add("(min-width: 800px)", () => {
    gsap.set(".panel", {
      zIndex: (i, target, targets) => targets.length - i,
    });

    const images = gsap.utils.toArray(".panel:not(.purple)");

    images.forEach((image, i) => {
      const tl = gsap.timeline({
        scrollTrigger: {
          trigger: "section.black",
          start: () => "top -" + window.innerHeight * (i + 0.5),
          end: () => "+=" + window.innerHeight,
          scrub: true,
          toggleActions: "play none reverse none",
          invalidateOnRefresh: true,
        },
      });

      tl.to(image, { height: 0 });
    });

    gsap.set(".panel-text", {
      zIndex: (i, target, targets) => targets.length - i,
    });

    const texts = gsap.utils.toArray(".panel-text");

    texts.forEach((text, i) => {
      const tl = gsap.timeline({
        scrollTrigger: {
          trigger: "section.black",
          start: () => "top -" + window.innerHeight * i,
          end: () => "+=" + window.innerHeight,
          scrub: true,
          toggleActions: "play none reverse none",
          invalidateOnRefresh: true,
        },
      });

      tl.to(text, { duration: 0.33, opacity: 1, y: "50%" }).to(
        text,
        { duration: 0.33, opacity: 0, y: "0%" },
        0.66
      );
    });

    ScrollTrigger.create({
      trigger: "section.black",
      scrub: true,
      markers: false,
      pin: true,
      start: () => "top top",
      end: () => "+=" + (images.length + 1) * window.innerHeight,
      invalidateOnRefresh: true,
    });
  });
  const scrollIndicatorParent = document.getElementById(
    "scroll-down-parent-adoptables"
  );
  const scrollIndicator = document.getElementById(
    "scroll-down-indicator-adoptables"
  );
  inView("#scroll-down-parent-adoptables", (info) => {
    animate(
      scrollIndicatorParent,
      { opacity: [0, 1] },
      { duration: 1, delay: 0.5 }
    );
    animate(
      scrollIndicator,
      { y: [0, 10, 0] },
      { duration: 1.5, repeat: Infinity, easing: ["ease-out", "ease-in"] }
    );
  });

  const scrollIndicatorParent2 = document.getElementById(
    "scroll-down-parent-permanent"
  );
  const scrollIndicator2 = document.getElementById(
    "scroll-down-indicator-permanent"
  );
  inView("#scroll-down-parent-permanent", (info) => {
    animate(
      scrollIndicatorParent2,
      { opacity: [0, 1] },
      { duration: 1, delay: 0.5 }
    );
    animate(
      scrollIndicator2,
      { y: [0, 10, 0] },
      { duration: 1.5, repeat: Infinity, easing: ["ease-out", "ease-in"] }
    );
  });

  const scrollIndicatorParent3 = document.getElementById(
    "scroll-down-parent-sponsorships"
  );
  const scrollIndicator3 = document.getElementById(
    "scroll-down-indicator-sponsorships"
  );
  inView("#scroll-down-parent-sponsorships", (info) => {
    animate(
      scrollIndicatorParent3,
      { opacity: [0, 1] },
      { duration: 1, delay: 0.5 }
    );
    animate(
      scrollIndicator3,
      { y: [0, 10, 0] },
      { duration: 1.5, repeat: Infinity, easing: ["ease-out", "ease-in"] }
    );
  });

  const scrollIndicatorParent4 = document.getElementById(
    "scroll-down-parent-sponsored"
  );
  const scrollIndicator4 = document.getElementById(
    "scroll-down-indicator-sponsored"
  );
  inView("#scroll-down-parent-sponsored", (info) => {
    animate(
      scrollIndicatorParent3,
      { opacity: [0, 1] },
      { duration: 1, delay: 0.5 }
    );
    animate(
      scrollIndicator3,
      { y: [0, 10, 0] },
      { duration: 1.5, repeat: Infinity, easing: ["ease-out", "ease-in"] }
    );
  });

  document.addEventListener("swup:enable", () => {
    window.swup.hooks.on("visit:start", () => {
      // ScrollTrigger.getAll().forEach((t) => t.kill());
    });
    window.swup.hooks.on("visit:end", () => {
      ScrollTrigger.refresh();
    });

    window.swup.hooks.on("page:view", () => {
      // ScrollTrigger.refresh();
      console.log(ScrollTrigger.getAll());
    });
  });
</script>
